[submodule "lib/libavr"]
	path = lib/libavr
	url = git@github.com:BASM/libavr.git
[submodule "writer/libcintelhex"]
	path = writer/libcintelhex
	url = https://github.com/martin-helmich/libcintelhex.git
