[submodule "writer/libcintelhex"]
	path = writer/libcintelhex
	url = https://github.com/martin-helmich/libcintelhex.git
[submodule "firmware/lib/libavr"]
	path = firmware/lib/libavr
	url = git@github.com:BASM/libavr.git
